body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.customizePackage{
  width: 100%;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex-direction: row;
  flex-wrap: wrap;
}
.customPackage1{
  width: 45%;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  border:1px solid #007bff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 60px 0px;
  transition: 0.2s;
}
.customPackage1:hover{
  box-shadow: 0px 0px 25px gray;
  transition: 0.2s;
}
.customPackage2{
  width: 45%;
  transition: 0.2s;
  background-color: #3695fa;
  border-radius: 10px;
  margin: 10px;
  border:1px solid #007bff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 60px 0px;
}
.customPackage2:hover{
  box-shadow: 0px 0px 25px gray;
  transition: 0.2s;
}
.Card1Head{
  color: #3695fa;
  font-size: 25px;
  font-weight: bold;
}
.Card2Head{
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.CardDesc{
  color: gray;
  font-size: 20px;
  font-weight: 200;
  margin-top: 10px;
  text-align: center;
}
.CardDesc2{
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: 200;
  margin-top: 10px;
}
.copyButton {
  width: 15%;
  border: none;
  color: white;
  font-weight: 600;
  margin: 5% 1%;
  background-color: #007bff;
  cursor: pointer;
  border-radius: 10px;
}

.Package1Btn{
  padding: 15px 50px;
  border:1px solid #007bff;
  border-radius: 30px;
  background-color: #3695fa;
  color: white;
  font-weight: 600;
  margin-top: 30px;
  transition: 0.3s;
}
.Package1Btn:hover{
  padding: 15px 100px;
  transition: 0.3s;
}
.Package2Btn{
  padding: 15px 50px;
  border:1px solid white;
  border-radius: 30px;
  background-color: #3695fa;
  box-shadow: 0px 0px 5px white;
  color: white;
  font-weight: 600;
  margin-top: 30px;
  transition: 0.3s;
}
.Package2Btn:hover{
  padding: 15px 100px;
  transition: 0.3s;
  box-shadow: 0px 0px 10px white;
}
.customizeHeader{
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin:35px 0px;
  font-weight: 300;
  color: gray;
}
.CustomPackage{
  display: flex;
  justify-content: center;
  padding:20px;
}
.customHeading{
  font-size: 40px;
  font-weight: 600;
  margin-top: 30px;
}
.customHeading2{
  margin-top: 30px;
  font-size: 30px;
  font-weight: 600;
}
.customForm{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  border-radius: 30px;
  background-color: #47a0ff;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 20px;
}
.customForm2{
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  border-radius: 20px;
  background-color: #318beb;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 20px;
}
.cardHeader{
  font-size:30px;
  font-weight: 300;
  color: white;
}
.formSet{
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px;
}
.insideForm{
  border: 1px solid gray;
  border-radius: 30px;
  
}
.insideItem{
  border: 2px solid gray;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.brandItem{
  background-color: rgb(240, 240, 240);
  color: gray;
  padding: 20px 35px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  margin-top: 15px;
  transition: 0.3s;
}
.brandItem:hover{
  background-color: indigo;
  transition: 0.3s;
  color: white;
  cursor: pointer;
}
.itemHeader{
  font-size: 20px;
  text-decoration: underline;
  /* margin-top: 10px; */
  font-weight: 700;
  color: gray;
}
.setBrandDesign{
  padding: 20px;
}
.plusIcon{
  color: rgb(81, 131, 7);
  font-weight: 600;
}
.quoteWorth{
  font-size: 30px;
  font-weight: 600;
  color: #53f378;

}
.orderButton{
  padding: 10px 25px;
  border: none;
  justify-content: center;
  border-radius: 30px;
  margin-top: 30px;
  color: white;
  background-color: rgb(224, 64, 64);
}
.inputText{
  border: none;
  padding: 20px;
  border-radius: 30px;
  width: 40%;
  margin: 10px;
}
.PackHalf1{
  width: 70%;
  padding: 10px 50px;
}
.PackHalf2{
  width: 30%;
  padding: 10px 50px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.initailForm {
  margin: 0 auto;

}

header.setHeader .nav ul li {
  margin-right: 0px;
}

#nav-telephone {
  flex: 1;
  display: flex;
}

header.setHeader .nav ul li a {
  padding: 25px 20px;
}

/* Hunain */
.iconSize {
  margin-right: 8px;
  width: 22px;
}

header.setHeader .nav {
  width: 100%;
}

header.setHeader .get {
  width: 12%;
}

.formText {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.initailForm {
  width: 70%;
  background-color: none;
  padding: 4%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.setCrossForm {
  position: absolute;
  right: 10px;
  top: 10px;
}

.setFormImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  padding: 2%;
  background-image: url("./assets/images/discount-form-image.jpg");
  /* The image used */
  /* height: 500px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.formBody {
  background-color: white;
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.doubleInput {
  padding: 1.5%;
  width: 50%;
}

.form-border {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  color: white;
  overflow: hidden;
}

.mainFormPage input {
  width: 45%;
  /* padding: 1.5%; */
  margin: 2% 2%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(226, 226, 226);
  border: none;
}

.mainFormPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input.singleInput {
  width: 95%;
  margin-top: 2%;
  padding: 1.5%;
  /* margin: 1%; */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(226, 226, 226);
  border: none;
}

.mainFormPage button {
  padding: 2% 5%;
  border: none;
  width: 95%;
  margin-top: 5%;
  background-color: rgb(175, 71, 45);
  color: white;
}

.setActiveBox {
  display: block;
}

.setActiveBox2 {
  display: none;
}
div.hideNav{
  display: none !important;
}

div.setOldHideNav{
  display: block !important;
}
/* Large Laptop */
@media only screen and (max-width: 1440px) {
  
  div.setForm {
    height: 425px;
    width: 90%;
  }
  /* Navigation */

  header.setHeader .get a svg {
    font-size: 22px;
  }

  header.setHeader .get a span {
    font-size: 14px;
  }

  /* Contact Form */
  #whats-next-second {
    display: none;
  }

  .initailForm {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 25px;
  }

  .ufc {
    margin-top: 15rem;
    margin-bottom: 8rem;
  }

  section.ufc div.same-full img.setCaseImage {
    margin-top: 0 !important;
    margin-left: 40% !important;
  }

  section.webapp div.container-full div.same-full div.right div.img {
    padding: 0;
  }

  section.webapp .same-full img {
    /* background-color: red; */
    margin-right: 50px;
    margin-top: 5%;
  }
}

/* Medium Laptop */
@media only screen and (max-width: 1024px) {
  
  .initailForm{
    height: 500px;
  }
  /* Packages */
  div.packages {
    width: 30% !important;
  }

  div.mainPackages {
    padding: 0 12px 10px 12px;
  }

  div.packages h6 {
    font-size: 0.9rem;
  }

  /* Navigation */

  header.setHeader .get a svg {
    font-size: 20px;
  }

  header.setHeader .get a span {
    font-size: 12px;
  }

  header.setHeader .nav ul li a {
    padding: 25px 12px;
  }

  .initailForm {
    max-width: 80%;
    margin: 0 auto;
  }

  .ufc {
    margin-top: 10rem;
  }

  section.ufc div.same-full img.setCaseImage {
    width: 80% !important;
    margin-top: 1rem !important;
    margin-left: 40% !important;
  }

  footer .setTechContainer {
    margin-top: 6%;
  }

  footer .linking .setTechContainer div.five {
    width: 18%;
  }
  .CardDesc{
    color: gray;
    font-size: 16px;
    font-weight: 200;
    margin-top: 10px;
    text-align: center;
  }
  .CardDesc2{
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: 200;
    margin-top: 10px;
  }
  .Card1Head{
    color: #3695fa;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  .Card2Head{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
.PackHalf1{
  width: 70%;
  height: 500px;
  padding: 10px 10px;
}
.PackHalf2{
  width: 30%;
  padding: 10px 0px;
  height: 500px;
}

.customForm{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  border-radius: 30px;
  background-color: #47a0ff;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 20px;
}
.customForm2{
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  border-radius: 20px;
  background-color: #318beb;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 20px;
}
.cardHeader{
  font-size:25px;
  font-weight: 300;
  color: white;
}
}

/* Tablet */
@media only screen and (max-width: 768px) {
  .setActiveBox {
    display: none;
  }
  
  /* .setForm .setCrossForm {
    top: -38%;
  } */

  div.hideNav{
    display: block !important;
  }
  div.setOldHideNav{
    display: none !important;
  }
  .setActiveBox2 {
    display: block;
    margin-top: 5% !important;
  }

  /* Packages */
  div.packages {
    width: 45% !important;
  }

  div.mainPackages {
    padding: 0 12px 0px 12px;
  }

  div.packages h6 {
    font-size: 0.9rem;
  }

  /* Navigation */
  header.setHeader .nav ul li a {
    font-size: 10px !important;
    padding: 26px 6px;
  }

  .initailForm {
    margin: 25px 25px 0 25px;
  }

  .customPackage1{
    width: 80%;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    border:1px solid #007bff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 60px 0px;
    transition: 0.2s;
  }
  .customPackage1:hover{
    box-shadow: 0px 0px 25px gray;
    transition: 0.2s;
  }
  .customPackage2{
    width: 80%;
    transition: 0.2s;
    background-color: #3695fa;
    border-radius: 10px;
    margin: 10px;
    border:1px solid #007bff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 60px 0px;
  }
  .customPackage2:hover{
    box-shadow: 0px 0px 25px gray;
    transition: 0.2s;
  }
  .copyButton {
    width: 80%;
    border: none;
    color: white;
    font-weight: 600;
    margin: 5% 1%;
    background-color: #007bff;
    cursor: pointer;
    border-radius: 10px;
    height: 35px;
  }
  
.customizeHeader{
  font-size: 25px;
  width: 100%;
  text-align: center;
  margin:35px 0px;
  font-weight: 300;
  color: gray;
}

.customHeading{
  font-size: 25px;
  font-weight: 600;
}
.customHeading2{
  font-size: 20px;
  font-weight: 600;
}
.inputText{
  border: none;
  padding: 15px;
  border-radius: 30px;
  width: 80%;
  margin: 10px;
}
}

/* Mobile L */
@media only screen and (max-width: 426px) {

  div.setForm {
    height: 500px;
    width: 100%;
  }

  div.setForm .setFormImage {
    background-color: #ed2025;
    background-size: contain;
  }

  /* Header */
  div.inner section.homeslider div.scon {
    padding: 40px;
  }

  /* Packages */
  div.packages {
    width: 100% !important;
  }

  div.mainPackages {
    padding: 0 12px 0px 12px;
  }

  div.packages h6 {
    font-size: 0.9rem;
  }

  /* Navigation */
  header.setHeader .get {
    width: 25%;
  }

  div.setHeaderPostion {
    height: 62px;
  }

  /* Contact Form */

  #whats-next-second {
    display: block;
  }

  footer .linking .setTechContainer div.five {
    width: 100%;
  }

  section.map {
    margin-top: 0;
  }

  .caroselslider .tesbox {
    padding: 30px 32px 65px;
  }

  section.fget .getform {
    margin-bottom: 1.5rem;
    padding: 0;
  }

  /* footer */

  footer .setTechContainer {
    margin-top: 6%;
  }


  /* Case Studies */
  .ufc {
    margin-top: 0rem;
  }

  .ufc .same-full {
    padding: 0;
  }

  .ufc div.logo {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .ufc .container-full .same-full img.setCaseImage {
    width: 60% !important;
    margin: 0 !important;
    margin-right: 2rem !important;
    margin-top: 21rem !important;
  }

  .ufc .same-full li div.nor {
    padding: 12px 25px;
  }

  .webapp .blue p {
    padding: 0 !important;
  }

  .webapp .blue a.view {
    margin-right: auto !important;
  }


  .webapp .same-full {
    padding: 0;
  }

  section.webapp div.same-full li {
    margin: 5px 5px 5px 4px;
  }

  .webapp .same-full li div.nor {
    padding: 12px 18px;
  }

  .mersey .same-full {
    padding: 0;
  }

  .mersey .purple p {
    padding: 0 !important;
  }

  .mersey .same-full li div.nor {
    padding: 12px 25px;
  }

  div#contact-form-popup #whats-next-first {
    display: none;
  }

  div#contact-form-popup {
    margin-top: 30rem;
    padding: 0 2px;
  }

  div#contact-form-popup h3 {
    font-size: 20px;
  }

  div#contact-form-popup div.half {
    padding-bottom: 0px;
  }

  div#contact-form-popup form {
    margin-top: -4rem;
    padding-bottom: 18px;
  }

  #cross-Btn-popup {
    top: -160px;
  }

  div#pop-form-img>img {
    width: 82px;
  }

  .initailForm {
    margin: 25px 25px 0 25px;
  }

  div.setForm {
    flex-direction: column;
  }

  .setForm .formBody {
    width: 100%;
  }

  .setForm .setFormImage {
    height: 250px;
    width: 100%;
  }

  .setForm .setCrossForm {
    top: -38%;
  }

  div.resonseBody {
    z-index: 100;
    width: 60%;
    top: 35%;
    opacity: 0.9;
  }
  
.Card1Head{
  color: #3695fa;
  font-size: 18px;
  font-weight: bold;
}
.Card2Head{
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.CardDesc{
  color: gray;
  font-size: 13px;
  font-weight: 200;
  margin-top: 10px;
  text-align: center;
}
.CardDesc2{
  color: white;
  font-size: 13px;
  text-align: center;
  font-weight: 200;
  margin-top: 10px;
}
.Package1Btn{
  padding: 10px 30px;
  border:1px solid #007bff;
  border-radius: 30px;
  background-color: #3695fa;
  color: white;
  font-weight: 600;
  margin-top: 30px;
  font-size: 10px;
  transition: 0.3s;
}
.Package1Btn:hover{
  padding: 15px 100px;
  transition: 0.3s;
}
.Package2Btn{
  padding: 10px 30px;
  border:1px solid white;
  border-radius: 30px;
  background-color: #3695fa;
  box-shadow: 0px 0px 5px white;
  color: white;
  font-weight: 600;
  font-size: 10px;
  margin-top: 30px;
  transition: 0.3s;
}
.Package2Btn:hover{
  padding: 15px 100px;
  transition: 0.3s;
  box-shadow: 0px 0px 10px white;
}

.customizePackage{
  width: 100%;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

.PackHalf1{
  width: 100%;
  height: 500px;
  padding: 10px 20px;
}
.PackHalf2{
  width: 100%;
  padding: 10px 20px;
  height: 500px;
}
.CustomPackage{
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  padding:10px;
  width: 100%;
}
}

@media only screen and (max-width: 375px) {

  /* Case Studies */
  .setForm .setCrossForm {
    top: -10%;
  }
  .ufc .container-full .same-full img.setCaseImage {
    width: 80% !important;
    margin: 0 !important;
    margin-right: 0rem !important;
    margin-top: 23rem !important;
  }

  section.fget .getform {
    margin-bottom: 1.5rem;
    padding: 0 25px;
  }

  div#contact-form-popup #whats-next-first {
    display: none;
  }

  div#contact-form-popup {
    margin-top: 35rem;
    padding: 0 20px;
  }

  div#contact-form-popup h3 {
    font-size: 20px;
  }

  div#contact-form-popup div.half {
    padding-bottom: 0px;
  }

  div#contact-form-popup form {
    margin-top: -4rem;
    padding-bottom: 18px;
  }

  #cross-Btn-popup {
    margin: 0 !important;
    top: -215px;
    right: 2%;
  }

  div#pop-form-img>img {
    width: 82px;
  }

  .fget {
    overflow: auto !important;
  }

  /* Discount Form */
  .initailForm {
    margin: 25px 25px 0 25px;
  }

  .setForm .setCrossForm {
    top: -95%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1370px) {
  section.mersey div.container-full div.same-full img {
    margin-left: 8rem;
  }

  .innerHeader_bottomContainer {
    margin-left: 6.5%;
  }
}

@media only screen and (max-width: 320px) {

  /* Navigation */

  .setHeaderPostion {
    height: 62px;
  }

  header.setHeader .get a svg {
    font-size: 22px;
  }

  header.setHeader .get a span {
    font-size: 10px;
  }

  div#contact-form-popup #whats-next-first {
    display: none;
  }

  div#contact-form-popup {
    margin-top: 30rem;
    padding: 0 20px;
  }

  div#contact-form-popup h3 {
    font-size: 20px;
  }

  div#contact-form-popup div.half {
    padding-bottom: 0px;
  }

  div#contact-form-popup form {
    margin-top: -4rem;
    padding-bottom: 18px;
  }

  #cross-Btn-popup {
    top: -160px;
  }

  div#pop-form-img>img {
    width: 82px;
  }

  .setForm .setCrossForm {
    top: -100%;
  }
}